<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sinatra Framework Demo</title>
    <link href="<%= url('/styles.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
<h1>Hello World</h1>
<p>This is code inside of a '.erb' file in the views directory, where it belongs.</p>
  </body>
</html>
